p{
  margin-bottom: 0px;
}
mat-hint{
  color:red;
}
::ng-deep noWrapper{
  width:100% !important;
}
.white-background{
  background-color: white;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px;
}
.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 310px !important;
}


.password-container{
  //height: 50px;
  input{
    
    height: 20px;
  }
  mat-icon{
    color:gray;
  }
}

.buttonSignup{
  color:white;
  background-color: #A03037;
  width:300px;
}