<div class="placed-successful-container">
  <div class="order-placed-container-container">
    <div class="order-placed-container">
      <div class="upper-image">
          <img src="../../../assets/above.png" alt="">
      </div> 
      <h2>Order Placed Successfully</h2>
      <div class="lower-image">
          <img src="../../../assets/below.png" alt="">
      </div>
      <div class="order-id-info">
           <p> Hurray! your order is confirmed.</p>
           <p> Your order id is #{{orderId}} </p> save the order id
           for further communication
      </div>
    </div>
  </div>
  <div class="contact-us-container">
     <div class="contact-us-header">
         <div class="email-us">
             Email Us
         </div>
         <div class="contact-us">
             Contact Us
         </div>
         <div class="address">
             Address
         </div>
     </div>
     <div class="contact-us-content">
         <div class="email-content">
             admin@bookstore.com
         </div>
         <div class="contact-content">
             +91 9766548832
         </div>
         <div class="contact-address">
             42, 14th Main, 15th Cross, Sector 4, 
             Opp to BDA complex, near Kumaram restraurant,
             HSR Layout, Banglore 560034
         </div>
     </div>
  </div>
  <div class="button-container">
     <button mat-raised-button class="continue">CONTINUE SHOPPING</button>
  </div>  
</div>
