.address-color{
  color:#A03037;
  border:1px solid #A03037
}
.text-input { 
  width: 100%;
  height:25px;
  border:1px solid #DCDCDC;
  padding:5px;
}
.input-fields-container { 
  margin-top: 30px;
  margin-left:12%;
  margin-right:55%;
  margin-bottom: 10px;
	.personal-details-container { 
    //border:1px solid black;
		.personal-details-header { 
      display: flex;
      align-items: baseline;
			h2 { 

			}

			h4 { 
        margin-left: 20px;
        cursor: pointer;
        color:#A03037;
			}
		}

		.full-name-container { 
      display: flex;
      flex-direction: column;
			span { 

			}

			.text-input { 

			}
		}

		.email-container { 
      display: flex;
      flex-direction: column;
			span { 

			}

			.text-input { 

			}
		}

		.password-container { 
      display: flex;
      flex-direction: column;
			span { 

			}

			.text-input { 

			}
		}

		.mobile-container { 
      display: flex;
      flex-direction: column;
			span { 

			}

			.text-input { 

			}
		}
	}

	.address-details-container { 
    margin-top: 30px;
		.address-details-header { 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
			h2 { 

			}

			.address-color { 

			}
		}

		.address-container { 

			.address-type-action-buttons { 
        display: flex;
        align-items: baseline;
				h2 { 

				}

				h4 { 
          margin-left: 10px;
          color: #A03037;
          cursor: pointer;
				}
			}

			.only-address-container { 
        display: flex;
        flex-direction: column;
				span { 

				}

				.text-input { 

				}
			}

			.citystate-details-container { 
        display: flex;
        justify-content: space-between;
				.city-town-container { 
          display: flex;
        flex-direction: column;
        
					span { 

					}

					.text-input { 

					}
				}

				.state-container { 
          display: flex;
          flex-direction: column;
          margin-left: 10px;
					
          span { 

					}

					.text-input { 
            width: 100%;
					}
				}
			}

			.type-container { 
        
				span { 

				}

				.radio-buttons-container { 
					#home { 

					}

					label { 
            
					}

					#work { 
            margin-left: 60px;
					}

					#other { 
            margin-left: 60px;
					}
				}
			}
		}
	}
}
input[type="radio"] {
  -moz-appearance: none;
  appearance: none;
        
  width: 15px;
  height: 15px;
  padding: 1px;
  background-clip: content-box;
  border: 1px solid #DCDCDC;
  background-color: white;
  border-radius: 50%;
  }
        
  input[type="radio"]:checked {
  outline: none;
  background-color: #A03037;
  //border: 1px solid hotpink;
  }
  